.A .symbol-label{
    background-color: #B23CFD !important;
}
.B .symbol-label{
    background-color: #880E4F !important;
}
.C .symbol-label{
    background-color: #B71C1C !important;
}
.D .symbol-label{
    background-color: #BA68C8 !important;
}
.E .symbol-label{
    background-color: #7986CB !important;
}
.F .symbol-label{
    background-color: #FFAB00 !important;
}
.G .symbol-label{
    background-color: #78909C !important;
}
.H .symbol-label{
    background-color: #EF9A9A !important;
}
.I .symbol-label{
    background-color: #F3E5F5 !important;
}
.J .symbol-label{
    background-color: #E91E63 !important;
}
.K .symbol-label{
    background-color: #FF8A80 !important;
}
.L .symbol-label{
    background-color: #311B92 !important;
}

.M .symbol-label{
    background-color: #90CAF9 !important;
}
.N .symbol-label{
    background-color: #827717 !important;
}
.O .symbol-label{
    background-color: #A5D6A7 !important;
}
.P .symbol-label{
    background-color: #FFF176 !important;
}
.Q .symbol-label{
    background-color: #5D4037 !important;
}
.R .symbol-label{
    background-color: #263238 !important;
}
.S .symbol-label{
    background-color: #FF3D00 !important;
}
.T .symbol-label{
    background-color: #FFFF8D !important;
    color: #E65100 !important;
}
.U .symbol-label{
    background-color: #D500F9 !important;
}
.V .symbol-label{
    background-color: #3949AB !important;
}
.W .symbol-label{
    background-color: #E65100 !important;
}
.X .symbol-label{
    background-color: #558B2F !important;
}
.Y .symbol-label{
    background-color: #0091EA !important;
}
.Z .symbol-label{
    background-color: #AB47BC !important;
}